body{
    padding: 100px;
}
.submit-area{
    
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
#transaction-area{
    display: none;
    
}
.status{
    margin: 20px;
    color: red
    padding: 20px;
    border-radius: 0px;
}
.deposit{
    margin:  20px;
   
    background-color: slateblue;
}
.widthdraw{
    margin: o 20px;
    background-color: lightsalmon;
}
.balance{
    margin: o 20px;
    background-color: orange;
}

